.movies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1vw;
}
.movies div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: black;
  color: white;
}
