section {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  height: 50px;
  width: 50px;
  background-color: blanchedalmond;
}

div:hover {
  transform-origin: bottom left;
  transform: rotate(90deg);
  transition: 1s ease-in-out;
}
