@font-face {
  font-family: "Mont";
  src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf);
}

* {
  font-family: "Mont";
}

h3::first-letter {
  color: #2e8b57;
  font-size: 30px;
  font-weight: bold;
}

h3:hover::first-letter {
  color: #00ced1;
}

ul li:nth-of-type(1)::first-letter {
  font-size: 30px;
  color: #00ced1;
  font-weight: bold;
  text-decoration: overline;
}

ul li:nth-of-type(2)::first-letter {
  font-size: 30px;
  color: #c71585;
  font-weight: bold;
  text-decoration: underline;
}

ul li:nth-of-type(3)::first-letter {
  font-size: 30px;
  color: #32cd32;
  font-weight: bold;
  text-decoration: line-through;
}

p:nth-of-type(2):first-letter {
  color: #c7154a;
  font-size: 25px;
  font-weight: bold;
}

p:nth-of-type(2)::first-line {
  color: #32cd32;
}

p:nth-of-type(2):hover::first-line {
  color: #2e588b;
}

p:nth-of-type(4):first-letter {
  color: #c7154a;
  font-size: 25px;
  font-weight: bold;
}

p:nth-of-type(4)::first-line {
  color: #32cd32;
}

p:nth-of-type(4):hover::first-line {
  color: #2e588b;
}

p:nth-of-type(6):first-letter {
  color: #c7154a;
  font-size: 25px;
  font-weight: bold;
}

p:nth-of-type(6)::first-line {
  color: #32cd32;
}

p:nth-of-type(6):hover::first-line {
  color: #2e588b;
}

p:nth-of-type(3):first-letter {
  color: #c7154a;
  font-size: 16px;
  font-weight: bold;
}

p:nth-of-type(3)::first-line {
  color: #32cd32;
}

p:nth-of-type(3):hover::first-line {
  color: #2e588b;
}

p:nth-of-type(5):first-letter {
  color: #c7154a;
  font-size: 16px;
  font-weight: bold;
}

p:nth-of-type(5)::first-line {
  color: #32cd32;
}

p:nth-of-type(5):hover::first-line {
  color: #2e588b;
}

p:nth-of-type(3) {
  font-size: 13px;
}

p:nth-of-type(5) {
  font-size: 13px;
}
