.Eule1 {
  width: 200px;
  height: 200px;
}

.Eule2 {
  width: 20%;
  height: 20%;
}

.Eule3 {
  width: 10em;
  height: 10em;
}

.Eule4 {
  width: 20rem;
  height: 20rem;
}

.Eule5 {
  width: 20vw;
}

.Eule6 {
  height: 30vh;
}
