section {
  height: 50vh;
  background-color: blanchedalmond;
}

div {
  background-color: red;
  height: 50px;
  width: 50px;
  transition: all 3s 0.2s;
}

div:hover {
  width: 100%;
  transition: all 3s 0.2s;
}
